.container
  %h1 My feed
  %ul
    - @feed_papers.each do |p|
      %li
        = link_to p.title, user_paper_path(p.user.id, p.id)
        %br
        %span= p.description
        - if p.article.attached?
          %span= link_to "Read article", url_for(p.article)
          %br
          %br
