.container
  %h1 My recent papers
  %hr.my-4
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12 
      - @papers.each do |p|
        #paper-card.card
          .card-body
            %h3.card-title 
              = link_to p.title, user_paper_path(p.user.id, p.id)
            %p.card-text 
              = p.description



  = link_to "New paper", new_user_paper_path(current_user.id), class: "btn btn-primary btn-new-paper"

  