.container
  %h1 My recent papers
  %ul
    - @papers.each do |p|
      %li
        %span= p.title
        %br
        %span= "Abstract: " + p.description
        %br
        - if p.article.attached?
          %span= link_to "Read article", url_for(p.article)
  = link_to "New paper", new_user_paper_path(current_user.id)
