#help-container.container-fluid
	%h1 FAQ
	%hr.my-4
	%h2 Q: What is Minerva?
	%p A: Minerva is a platform that allows researchers share their papers.
	%h2 Q: Is this for free?
	%p A: Absolutely for free! Log in now and join our platform
	%h2 Q: What kind of papers can I find here?
	%p A: You can find only open-access papers, uploaded here by their legit authors.
	%br 
	%br
	%p 
		= link_to "Contact us", contact_path 
		for more informations.
