%h2 What is Minerva?
%p.center Minerva is a platform that allows researchers share their papers.
%h2 Is this for free?
%p.center Absolutely for free! Log in now and join our platform
%h2 What kind of papers can I find here?
%p.center You can find only open-access papers, uploaded here by their legit authors.
%p.center Contact us for more informations
