#login-container.container-center
	.row
		.col-xs-1.col-sm-1.col-md-1.col-lg-1
		.col-xs-10.col-sm-10.col-md-10.col-lg-10.center
			#loginCard.card
				%h2 Log in
				= render "lform"
				= render "users/shared/links"
		.col-xs-1.col-sm-1.col-md-1.col-lg-1

