
.container-fluid
	.row
		.col-xs-6.col-sm-6.col-md-6.col-lg-6
			#paper-form.card
				= render 'papers/paper_form'
		.col-xs-6.col-sm-6.col-md-6.col-lg-6
			#paper-preview.card
				.view.view-cascade.gradient-card-header
					%h2#title-preview.card-header.title Insert here the title about your paper.
					%h3
						= @user.fullname
					%h5
						%i.far.fa-calendar-alt
						%span
							= Time.now.strftime("%d-%m-%Y")
				%p#description-preview.card-text Insert here the description about your paper.
				.row
					= link_to "Read more >>", "",class: "btn btn-primary btn-read-more pull-right disabled"
				.row
					#field-preview.card-footer
						Insert here paper topic.
