.container-fluid
	.row
		.col-xs-1.col-sm-1.col-md-1.col-lg-1
		.col-xs-10.col-sm-10.col-md-10.col-lg-10
			#resetPswCard
				%h2 Forgot your password ?
				= render 'recover-form'
		.col-xs-1.col-sm-1.col-md-1.col-lg-1

