@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  height: 100%;
  width: 100%;
  color: #222;
}

section {
  overflow: auto;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.alert-alert{
  @extend .alert-warning;
  margin-bottom: 0px !important;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family : Source Sans Pro, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  color : black;
  line-height: 1.7em;
}

.navbar {
  padding: .8rem;
}

#navbar .navbar-nav > li > a{
  //color: #001a4d;
  color: #cccccc;
  font-weight: bold;
  font-size: 1.1em !important;
  padding-right: 20px;
  text-align: center;

  &:hover{
    color: #fff;
    text-decoration: none;
  }
}


#navbar .navbar-nav > li:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

#navbar li.dropdown-header{
  font-size: 15px !important;
  color: #000;
}



#btn-menu > li > a{
  font-size: 15px !important;
}

#toggle-nav{
  border: 1px solid #fff;
  &:hover{
    background-color: #c2d6d6;
  }
}

#toggle-nav span.icon-bar{
  background-color: #fff;
}


header{
  background-image: image_url('intro_bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#minerva_header {
  background: #0000b3;
  .navbar-default {
    background: #0000b3;
    box-shadow: 0 0 0 0 transparent !important;
    border: 0px solid transparent !important;
  }
}

footer{
  background-color: #0000b3;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

footer p{
  color: white;
  font-weight: bold;
}

footer h5{
  font-size: 125%;
  color: white;
  font-weight: bold;
}


.field{
  padding: 5px;
}

.text-field{
  padding: 2px 0px 2px 0px;
}

.btn.btn-green{
  margin: 10px 0px 10px 6px;
  background-color: #00cc44 !important;
  text-transform: none;
  color: white;
  font-weight: bold;
  &:hover{
    color: white;
    background-color: #00b33c !important;
  }
}

#navbar > ul > li > button.btn-toggle-head {
  box-shadow: 0 0 0 0 transparent !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  margin: auto 0 auto 0;
  &:hover {
    background-color: #1b69b6 !important;
  }
  &:focus {
    background-color: #fff !important;
    & > span.caret{
      color: #1b69b6;
    }
  }
}


#email_field, #psw_field {
  margin-left: 10px;
  margin-right: 10px !important;
  & > i {
    font-size: 2rem;
  }
}

#remember_me_field {
  margin-left: 10px;
}

#md_email, #md_psw {
  width: 50%;
}

#check_box {
  margin-left: 140px;
}

#checkbox_field {
  margin-left: -25px;

}

#forgot_psw_field {
  text-decoration: none;
  margin-left: -250px;
}

#btn-login {
  margin: 15px auto 15px auto;
  float: left;
}

#loginCard {
  margin: 140px auto 140px auto;
  border-radius: 10px;
  width: 600px;

  & > h2 {
    padding-top: 20px;
  }
}

#resetPswCard {
  margin: 140px auto 140px auto;
  border-radius: 10px;
  border: 1px solid #dddddd;
  width: 50%;

  & > h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-left: 10px;
  }
}

#contact {
  margin: 75px auto 75px auto;
}

#btn-send {
  margin-left: -15px;
}
