// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paper-card.card {
  padding: 0px 0px 0px 0px;
  float: none;
  width: 50%;
  border: 2px solid #1a1aff;
  border-radius: 5px;
  margin: 20px auto 25px auto;

  h3 a{
  	color : #0000e6;
  	&:hover{
  		color: #0000b3;
  		text-decoration: none;
  	}
  }

  p.cardsubtitle {
	text-align: left;
	margin: 0px 0px 0px 15px;
	font-size : 20px;
  }

  p.card-text {
  	text-align: left;
  	margin-top: 15px;
  }


  .btn-read-feed{
	margin-bottom: 20px;
	color: #fff;
	margin: 0px auto 20px auto;
	background: #000099;
	&:hover{
		color: #000099;
		background: #fff;
		border: 1px solid #000099;
	}
   }
}

.btn-new-paper {
	border: 2px solid #0000b3;
	width: 135px;

	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}

.label_new{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}

.textfield_new{
  margin-left: 10px;
  width: 80%;
  font-size: 15px;
}

.textarea_new{
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
	resize: none;
}

.filefield_new{
	margin-left: 10px;
	margin-bottom: 15px;
}

#btn-new {
	margin-left: 10px;
}


#paper-form.card {
	border: 3px solid #404040;
	border-radius: 5px;
	float: none;
	width: 80%;
	margin : 20px auto 20px auto;
}

#paper_overview {
	h1 {
		text-align: left;
		margin: 20px 0px 20px 0px;
	}

	.btn-star{
		color: #fff;
		text-size: 10px;
	}

	.authors{
		font-size: 15px;
		&:hover{
			color: #1c4263;
			text-decoration: none;
		}
	}

	p{
		text-size: 15px;
	}

	.btn-read{
		border: 1px solid #997300;
		background : #e6ac00;
		color: #fff;
		&:hover{
			color: #e6ac00;
			background: white;
		}
	}

	.btn-danger.btn-delete{
		border: 1px solid #4d1a00;
		background: #b33c00;
		margin-bottom : 20px;
		color: #fff;

		&:hover{
			background:#802b00;
		}
	}
}


.testimonial-group {
	margin-bottom: 50px;
	overflow-y: auto;
}

.testimonial-group > .row {

}
.testimonial-group > .row > .col-xs-6 {
  display: inline-block;
  float: none;
}


#feed-card.card {
  padding: 0px 0px 0px 0px;
  max-width: 100%;
  float: none;
  border: 2px solid #1a1aff;
  border-radius: 5px;
  margin: 20px auto 25px auto;

  h3 a{
  	color : #0000e6;
  	&:hover{
  		color: #0000b3;
  		text-decoration: none;
  	}
  }

  .card-body p.cardsubtitle {
  	text-align: left;
  	word-wrap: break-word;
  }

  .card-body .author_link {
  	text-decoration: none;
  	color: #0000e6;
  	&:hover{
  		color: #000099;
  	}
  }

  .card-body p.card-text {
  	text-align: left;
  }

}

#recent-container > h1{
	text-align: center;
}

#recentCard {
	overflow: hidden;
  margin-bottom: 30px;
}

#recentCard > .view {
	background-color: #0000b3;

	& > h2 {
		color: #fff;
		font-weight: bold;
	}

	& > h3 {
		text-align: center;
		color: #fff;
	}
}



#recentCard > .view > h5 {
	text-align: center;

	& > i {
		font-size: 1.5rem;
		color: #fff;
		margin: auto 5px auto 0px;
	}

	& > span {
		font-size: 1.5rem;
		vertical-align: middle;
		color: #fff;
	}
}

#recentCard > p.card-text {
	margin: 15px 10px 15px 10px;
	text-align: center;
}

#recentCard > .row > .btn-read-more {
	background-color: transparent !important;
	color: #00b33c !important;
	border: 1px solid transparent !important;
	box-shadow: 0 0 0 0 transparent !important;
	right: 0;
	margin-right: 10px;
}

#cardFooter {
	text-align: left;
	margin: 5px 30px 5px 30px;
	border-top: 1px solid #dddddd;
	padding-top: 5px;
}

#recent-container > .row > .col-xs-2 > .btn-new-paper {
	margin: 15px 0px 50px 50px !important;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	padding: 3px;
	background-color: #fff !important;
	padding-top: 12px;

	& > i {
		color: #000080;
		font-size: 2rem;
		margin: auto 0px auto 0px;
	}

	&:hover {
		box-shadow: 0 0 0 0 transparent;
		background-color: #000080 !important;
		& > i {
			color: #fff;
		}
	}

}

#paper-preview > .view > h5 {
	text-align: center;

	& > i {
		font-size: 1.5rem;
		color: #fff;
		margin: auto 5px auto 0px;
	}

	& > span {
		font-size: 1.5rem;
		vertical-align: middle;
		color: #fff;
	}
}



#paper-preview {
	overflow: hidden;
	margin : 20px auto 20px auto;
	width: 50%;
}

#paper-preview > .view {
	//background-image: linear-gradient(to right bottom, #4a09c6, #7955da, #a58eea, #d0c6f7, #ffffff);
  background-color: #1fa463;

	& > h2 {
		color: #fff;
		font-weight: bold;
	}

	& > h3 {
		text-align: center;
		color: #fff;
	}
}

#paper-preview > p.card-text {
		margin: 15px 10px 15px 10px;
		text-align: center;
}


#paper-preview > .row > .btn-read-more {
	background-color: transparent !important;
	color: #00b33c !important;
	border: 1px solid transparent !important;
	box-shadow: 0 0 0 0 transparent !important;
	right: 0;
	margin-right: 10px;
}

#paper-preview > .row > .card-footer {
	text-align: left;
	margin: 5px 30px 5px 30px;
	border-top: 1px solid #dddddd;
	padding-top: 5px;

}

.materialbc{
  @extend .btn-color;
  padding-left: 25px;
  padding-top: 10px;
  margin: 10px 0px 10px 25px !important;
  border: 1.5px solid #fff;
  border-radius: 20px;
}

#bc1 {
	//background-image: linear-gradient(to right bottom, #4a09c6, #7955da, #a58eea, #d0c6f7, #ffffff);
  background-color: #1fa463;
}

#bc2 {
	//background-image: radial-gradient(circle, #f67320, #ff8687, #ffafd2, #fbdbfa, #ffffff);
  background-color: #FFD04B;
}

#bc3.btn-color {
  background-color: #4688f4;
	//background-image: linear-gradient(to right top, #f00000, #ff507b, #ff95cd, #f5d0f8, #ffffff);
}

#bc4.btn-color {
  background-color: #da483b;
	//background-image: linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
}
