// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paper-card.card {
  padding: 0px 0px 0px 0px;
  float: none;
  width: 50%;
  border: 2px solid #1a1aff;
  border-radius: 5px;
  margin: 20px auto 25px auto;

  h3 a{
  	color : #0000e6;
  	&:hover{
  		color: #0000b3;
  		text-decoration: none;
  	}
  }

  p.cardsubtitle {
	text-align: left;
	margin: 0px 0px 0px 15px;
	font-size : 20px;
  }

  p.card-text {
  	text-align: left;
  	margin-top: 15px;
  }


  .btn-read-feed{
	margin-bottom: 20px;
	color: #fff;
	margin: 0px auto 20px auto;
	background: #000099;
	&:hover{
		color: #000099;
		background: #fff;
		border: 1px solid #000099;
	}
   }
}

.btn-new-paper {
	border: 2px solid #0000b3;
	width: 135px;

	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}

.label_new{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
}

.textfield_new{
  margin-left: 10px;
  width: 80%;
  font-size: 15px;
}

.textarea_new{
	font-size: 15px;
	margin-left: 10px;
	resize: none;
}

.filefield_new{
	margin-left: 10px;
	margin-bottom: 15px;
}

#btn-new {
	margin-left: 10px;
}


#paper-form.card {
	border: 3px solid #404040;
	border-radius: 5px;
	float: none;
	width: 35%;
	margin : 20px auto 20px auto;
}

#paper_overview {
	h1 {
		text-align: left;
		margin: 20px 0px 20px 0px;
	}

	.btn-star{
		color: #fff;
		text-size: 10px;
	}

	.authors{
		font-size: 15px;
		&:hover{
			color: #1c4263;
			text-decoration: none;
		}
	}

	p{
		text-size: 15px;
	}

	.btn-read{
		border: 1px solid #997300;
		background : #e6ac00;
		color: #fff;
		&:hover{
			color: #e6ac00;
			background: white;
		}
	}

	.btn-danger.btn-delete{
		border: 1px solid #4d1a00;
		background: #b33c00;
		margin-bottom : 20px;
		color: #fff;

		&:hover{
			background:#802b00;
		}
	}
}


.testimonial-group {
	margin-bottom: 50px;
	overflow-y: auto;
}

.testimonial-group > .row {
	
}
.testimonial-group > .row > .col-xs-6 {
  display: inline-block;
  float: none;
}


#feed-card.card {
  padding: 0px 0px 0px 0px;
  max-width: 100%;
  float: none;
  border: 2px solid #1a1aff;
  border-radius: 5px;
  margin: 20px auto 25px auto;

  h3 a{
  	color : #0000e6;
  	&:hover{
  		color: #0000b3;
  		text-decoration: none;
  	}
  }

  .card-body p.cardsubtitle {
  	text-align: left;
  	word-wrap: break-word;
  }

  .card-body .author_link {
  	text-decoration: none;
  	color: #0000e6;
  	&:hover{
  		color: #000099;
  	}
  }

  .card-body p.card-text {
  	text-align: left;
  }

}
