@import "bootstrap-sprockets";
@import "bootstrap";

/* logo of header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #cccccc;
  text-transform: capitalize;
  letter-spacing: -1px;
  //padding-top: 9px;
  font-weight: bold;
  & > i {
    font-size: 1.8em;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* Profile pic */
.head_profile_pic {
  float: right;
  padding-top: 9px;
  border-color: black;
  border-width: 2px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#intro.container-fluid{
  background-image: image_url('intro_bg.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-top: 25px;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

#slides.carousel{
  margin-left: 20px;
}

.profile_profile_pic{
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
}

.carousel-inner item{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn.btn-outline-light {
  background: transparent;
  border-width: 1px;
  border-color: white;

  &:hover{
    background-color: #e6e6e6;
  }
}

.btn.btn-outline-secondary{
  border-width: 1px;
  border-color: $gray-light;

  &:hover{
    background-color : #e6e6e6;
  }
}


ol.carousel-indicators li{
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  background: transparent;
}

ol.carousel-indicators .active{
  width: 30px;
  height: 3px;
  border-radius: 0;
  background: #fff;
}

.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.to-pad{
  padding: 10px 0px 10px 0px;
}

#form {
  padding: 0px 0px 0px 20px;
  float: none;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  margin: 13px auto 0px auto;
}

.slant{
  position: absolute;
  background-color: #fff;
  height: 70px;
  transform: rotate(-1.7deg);
  margin-top: -30px;
  width: 101%;
}


#services.container{
  margin-top: -150px;
}
/*
#services{
  text-align: center;
}

#services p{
  font-size: 14px;
  padding-bottom: 10px;
}


#services i{
  height: 100px;
  width: 100px;
  font-size: 4.5em;
  border-radius: 50%;
  padding-top:16px;
  background-color: #6699cc;
  color: #fff;
}
*/

.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}


.padding{
  padding-bottom: 2rem;
}

.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  magin-bottom: 1rem;
}

.display-4{
  font-size: 400%;
}

h2.display-4{
  font-size: 300%;
}

h3.display-4{
  font-size: 200%;
}

#services-read.card, #services-learn.card, #services-share.card{
  box-shadow: 0px 4px 4px 4px #a3c2c2;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  float: left;
}

.card i{
  font-size: 4em;
  color: #00cc44;
  margin-top: 10px;
}

.card h3{
  font-width: 10px;
  margin-bottom: 20px;
}

.btn-card{
  text-transform: none !important;
  margin-bottom: 60px !important;
  background-color: #00cc44 !important;
  border: 1px solid #00e64d !important;
}

.card p{
  margin: 0px 20px 20px 20px;
}

#services-read.card:hover, #services-learn.card:hover,
#services-share.card:hover{

  background-color: #334d4d;

  h3, p, i{
    color: #fff;
  }

  button{
    background-color: #293d3d !important;
    border: 1px solid #fff !important;
  }

  button:hover{
    background-color: #00cc44 !important;
    border: 1px solid #00e64d !important;
  }
}

p.spacing {
  margin-bottom: 50px;
}


.fa-github{
  color: #000;
  font-size: 3em !important;
  margin-bottom: 25px;
}

.fa-gem{
  color: #ff6600;
}

.fa-bold{
  color: #563d7c;
}

.fa-css3{
  color: #2163af;
}

.fa-gem, .fa-bold, .fa-css3{
  font-size: 4em;
  margin: 1rem;
}

.fa-github{
  font-size: 2em;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
  text-decoration: none !important;
}

.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-google-plus{
  color: #dd4b39;
}

.fa-instagram{
  color: #517fa4;
}

.fa-youtube{
  color: #bb0000;
}


.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus:hover, .fa-instagram:hover, .fa-youtube:hover, .fa-github:hover{
  color: #d5d5d5;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

#team img{
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

#progress-bar {
  counter-reset: step;
  margin: 50px 0px 50px 0px;
}

#progress-bar > li {
  list-style-type: none;
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

#progress-bar > li:before {
  content: counter(step);
  counter-increment: step;
  font-size: 30px;
  content : image_url('icon-200px.png');
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  line-height: 200px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
}

#progress-bar > li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 100px;
  left: -50%;
  z-index: -1;
}


#progress-bar li:first-child:after {
  content: none;
}

#progress-bar li.active {
  color: green;
}


#progress-bar li.active:before {
  border-color: green;
}

#progress-bar li.active + li:after {
  background-color: green;
}

.wrapper{
  display: flex;
}

#sidebar {
  width: 250px;
  min-height: 100vh;
  position: flex;
  background-color: #000080;
  top: 85px;
  left: 0;
  color: #fff;
  transition: all 0.3s;
  z-index: 998;
}

#sidebar ul.components li {
  padding: 5px 0;
  border-bottom: 1px solid #fff;
  margin-left: 5px;
  margin-right: 5px;

  a {
    color: #cccccc;
  }
}

#sidebar.active {
  margin-left: -250px;
}


#sidebar ul li a {
  font-size: 2rem;
  margin-left: 5px;
}

#sidebar ul li.active > a {
    color: #fff;
}

#sidebar ul li a:hover{
  color: #fff;
  text-decoration: none;
}

#home-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  width: 100%;
}

#sidebarCollapse.toggle-btn {
  background-color: #0000b3 !important;
  margin: 1px solid #fff !important;
  z-index: 998;
  &:hover {
    background-color: #000080 !important;
    box-shadow: 0 0 0 0 #fff !important;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 997;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  top: 0;
  opacity: 1;
  width: 100%;
}

#sidebar .sidebar-header {
  border-bottom: 1px solid #fff;
}

#sidebar .sidebar-header > .row > .col-md-6 > img.profile_pic {
  margin: 10px 0px 10px 10px;
  border-radius: 100px;
  padding-right: 0px;
}

#sidebar .sidebar-header > .row > .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  & > h3 {
    text-align: left;
  }
}


#content > nav.navbar {
  background-color: transparent;
  box-shadow: 0 0 0 0 #fff;
}

#help-container {
  margin: 25px 0px 50px 0px;
  padding-right: 0px;
  & > h1 {
    text-align: center;
  }
  & > h2 {
    text-align: left;
  }
  & > p {
    margin-left: 5px;
  }
}

#settings-container {
  margin: 75px auto 75px auto;
}

#settings-container > .row > [class^='col-'] > ul.nav.nav-pills {
  & > li > a {
    color: #707070;
  }

  & > li.active > a{
    background: #000080;
    font-weight: bold;
    color: #fff;
  }

  & > li > a:hover {
    background: #0000b3;
    color: #fff !important;
  }
}


#settings-container > .row > [class^='col-'] > .tab-content {
  border: 1px solid #dddddd;
  margin: 10px 0px 10px 0px;
}

#profile-container, #password-container, #account-container {
  margin: 10px 0px 10px 0px !important;
}



#profile-container > .field > select {
  border-radius: 20px;
  padding: 2px;
}

#password-container > .actions >.btn.btn-primary.btn-update {
  background: #000080 !important;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 5px;
  text-transform: none;
  margin-top: 10px;
  
  &:hover {
    background: #fff !important;
    color: #000080 !important;
    border: 1px solid #000080 !important;
  }
}

#account-container > .field > p {
  font-weight: bold;
}

#account-container > .field > .btn.btn-primary.btn-delete {
  background: #ff0000 !important;
  text-transform: none;
  color: #fff;
  border-radius: 5px;
  margin-left: 0px;
  &:hover {
    background: #cc0000 !important;
  }
}

#account-container > .field > p {
  margin-bottom: 0px;
}


#profile-container {
  margin: 75px auto 75px auto;

  & > .row > [class^='col'] > .row > [class^='col'] {
    padding: 0px;
  }

  & > .row > [class^='col'] > .row > [class^='col'] > .img-circle {
    text-align: center;
  }

  & > .row > [class^='col'] > .row > [class^='col'] > h2 {
    text-align: left;
  }
}

#explore-container {
  margin: 45px 0px 75px 0px;
}

#query {
  margin: 20px 0px 20px 0px;
  width: 500px;
  padding: 4px;
  &:focus {
    border: 1px solid transparent;
  }
}


.btn.btn-primary.btn-search {
  border: 1px solid transparent;
  color: #707070 !important;
  background: none !important;
  box-shadow: 0 0 0 0 transparent;
  margin-left: -45px;
  outline: none;
}

#top-container {
  margin: 15px 0px 15px 0px;
  & > .row {
    overflow-x: auto;
    overflow-y: hidden;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

#topCard {
  margin: 20px 15px 20px 15px;
  min-width: 33.33%;
}

#topCard > .view {
  background-color: #0000b3;

  & > h2 {
    color: #fff;
    font-weight: bold;
  }

  & > h3 {
    text-align: center;
    color: #fff;
  }
  & > h3 a.author_link {
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
}

#topCard > .view > h3 a.author_link:hover {
  text-decoration: none;
  color: #dddddd;
}



#topCard > .view > h5 {
  text-align: center;

  & > i {
    font-size: 1.5rem;
    color: #fff;
    margin: auto 5px auto 0px;
  }

  & > span {
    font-size: 1.5rem;
    vertical-align: middle;
    color: #fff;
  }
}

#topCard > p.card-text {
  margin: 15px 10px 15px 10px;
  text-align: center;
}

#topCard > .row > .btn-read-more {
  background-color: transparent !important;
  color: #00b33c !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: 0;
  margin-right: 10px;
}

#topCard > .row > [class^='col'] > .btn-read-more {
  background-color: transparent !important;
  color: #00b33c !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: 0;
  margin-right: 10px;
  margin-top: 18px;
}

#topCard > .row > [class^='col'] > .btn-star {
  background-color: transparent !important;
  color: #00b33c !important;
  box-shadow: 0 0 0 0 transparent !important;
  border: 1px solid transparent;
  left: 0;
  margin-left: 10px;

  & > i {
    font-size: 1.5em;
  }
}

#cardFooter {
  text-align: left;
  margin: 5px 30px 5px 30px;
  border-top: 1px solid #dddddd;
  padding-top: 5px;
}

#outside-container, #inside-container {
  margin: 15px 0px 15px 0px;

  & > [class^='col'] {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px;
  }

  & > [class^='col'] > .row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}


#resultCard {
  margin: 0 auto;
  margin-bottom: 25px;
  min-width: 80%;
}

#resultCard > .view {
  background-color: #0000b3;

  & > h2 {
    color: #fff;
    font-weight: bold;
  }

  & > h3 {
    text-align: center;
    color: #fff;
  }
  & > h3 a.author_link {
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
}


#resultCard > .view > h5 {
  text-align: center;

  & > i {
    font-size: 1.5rem;
    color: #fff;
    margin: auto 5px auto 0px;
  }

  & > span {
    font-size: 1.5rem;
    vertical-align: middle;
    color: #fff;
  }
}

#resultCard > p.card-text {
  margin: 15px 10px 15px 10px;
  text-align: center;
}

#resultCard > .row > .btn-read-more {
  background-color: transparent !important;
  color: #00b33c !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: 0;
  margin-right: 10px;
}

#resultCard > .row > [class^='col'] > .btn-read-more {
  background-color: transparent !important;
  color: #00b33c !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: 0;
  margin-right: 10px;
  margin-top: 18px;
}

#resultCard > .row > [class^='col'] > .btn-star {
  background-color: transparent !important;
  color: #00b33c !important;
  box-shadow: 0 0 0 0 transparent !important;
  border: 1px solid transparent;
  left: 0;
  margin-left: 10px;

  & > i {
    font-size: 1.5em;
  }
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to left, #000080, #5541a2, #8d7ec3, #c4bde2, #ffffff);
}