@import "bootstrap-sprockets";
@import "bootstrap";

/* logo of header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Profile pic */
.head_profile_pic {
  float: right;
  padding-top: 9px;
  border-color: black;
  border-width: 2px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.profile_profile_pic{
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
}
