%footer
  .container-fluid.padding
    .row.text-center
      .col-md-4
        %img=image_tag('w3newbie.png')
        %hr.light
        %p 555-555-5555
        %p email@email.com
        %p via Ariosto
        %p Rome, Italy, 00136

      .col-md-4
        %hr.light
        %h5 Our Hours
        %hr.light
        %p Monday: 9am - 5pm
        %p Saturday: 10am - 4pm
        %p Sunday: closed

      .col-md-4
        %hr.light
        %h5 Service Area
        %hr.light
        %p test text
        %p test text
        %p test text
        %p test text

    %hr.light
    .col-12.text-center
      %h5 &copy; minerva.com



