%head
  %title Minerva
  = csrf_meta_tags
  = csp_meta_tag

  %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  

  %link{:rel => "stylesheet", :href => "https://use.fontawesome.com/releases/v5.0.12/css/all.css", :integrity => "sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9", :crossorigin => "anonymous"}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %link{:href => "assets/stylesheets/mdb-min.css", :rel => "stylesheet"}
  %script{:type => "text/javascript", :src => "assets/javascripts/mdb.min.js"}
